/*MASONRY*/
.images-list {
  max-width: 100%;
  padding: 0 7rem;
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px;
}

.my-masonry-grid_column img {
  width: 100%;
  border-radius: 0.5rem;
  display: block;
  filter: brightness(0.7);
  transition: all 0.5s ease;
  max-width: 40rem;
}

.my-masonry-grid_column img:hover {
  transform: scale(1.02);
  cursor: pointer;
  filter: brightness(1.2);
}
