.images-list {
  max-width: 100%;
  min-width: 100%;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.images-list > img {
  max-width: 30%;
  transition: all 0.5s ease;
  border-radius: 0.5rem;
  filter: brightness(0.9);
}
.images-list > img:hover {
  transform: scale(1.1);
  cursor: pointer;
  filter: brightness(1);
}
