.about p {
  max-width: 1350px;
  text-align: center;
  margin-bottom: 2rem;
}

.about button:first-child {
  margin-right: 20rem;
}

.owners {
  display: flex;
  flex-direction: row-reverse;
  gap: 20rem;
}
.owners img {
  min-width: 55rem;
}
.owner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
