.social-links {
  position: absolute;
  top: 2.6%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 7rem;
  z-index: 10;
  /* align-items: space-between; */
}
.social-links a {
  color: inherit;
}
.icon {
  width: 2.8rem;
  height: 2.8rem;
  color: #eddda4;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-links .icon:hover {
  color: #f1f1f1;
  transform: scale(1.1);
}
.social-links > a:visited,
.social-links > a:link {
  color: #eddda4;
}
