.servicii p:not(.service-description p) {
  margin-bottom: 2rem;
  max-width: 1080px;
  text-align: center;
}
.servicii p:nth-child(7) {
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
  color: var(--neutral-500);
}
.service-description p::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.service-description p {
  text-align: justify;
  margin-bottom: 0;
  line-height: 1;
}
