.servicii p:not(.service-description p) {
  margin-bottom: 2rem;
}
.servicii p:nth-child(7) {
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
  color: var(--neutral-500);
}
.service-description p::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.service-description p {
  text-align: justify;
  margin-bottom: 0;
  line-height: 0.6;
}

.servicii button {
  font-size: 2.5rem;
  padding: 0.5rem 2rem;
  background-color: var(--accent-gold);
  font-weight: 100;
  cursor: pointer;
}
.servicii button:active {
  transform: translateY(0.1rem);
}
