.footer {
  background-color: #272727;
  width: 100vw;
  padding: 5rem 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team-testimonial {
  max-width: 84rem;
}
.footer-container {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 0.2rem solid #eddda4;
  gap: 5rem;
  padding: 0 0 2rem;
}

.policy-links {
  display: flex;
  gap: 5rem;
  margin-bottom: 12rem;
  font-weight: 300;
}
