@font-face {
  font-family: "Aileron";
  src: url("../public/fonts/Aileron/Aileron-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("../public/fonts/Aileron/Aileron-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Aileron";
  src: url("../public/fonts/Aileron/Aileron-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("../public/fonts/Aileron/Aileron-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Aileron";
  src: url("../public/fonts/Aileron/Aileron-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("../public/fonts/Aileron/Aileron-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("../public/fonts/Aileron/Aileron-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Aileron";
  src: url("../public/fonts/Aileron/Aileron-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("../public/fonts/Aileron/Aileron-SemiboldItalic.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Aileron";
  src: url("../public/fonts/Aileron/Aileron-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("../public/fonts/Aileron/Aileron-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Aileron";
  src: url("../public/fonts/Aileron/Aileron-Ultralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("../public/fonts/Aileron/Aileron-UltralightItalic.otf")
    format("opentype");
  font-weight: 200;
  font-style: italic;
}
