@import "./fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --neutral-100: #fcfcfc; /* Brightest white */
  --neutral-200: #e9e9e9; /* Soft white */
  --neutral-300: #d8d8d8; /* Light gray */
  --neutral-400: #acacac; /* Muted silver */
  --neutral-500: #a3a3a3; /* Medium gray */
  --neutral-900: #272727; /* Dark gray */
  --neutral-950: #070707; /* Almost black */
  --accent-gold: #eddda4; /* Warm golden */
}
body,
html {
  margin: 0;
  font-size: 62.5%;
  overflow-x: hidden;

  font-family: "Aileron", sans-serif;
}

p,
a {
  font-size: 2.3rem;
  letter-spacing: 0.2rem;
  line-height: 1.2;
  font-weight: 100;
}

p {
  color: var(--neutral-300);
}

a,
a:link {
  text-decoration: none;
  transition: all 0.3s ease;
  color: var(--neutral-100);
}
a:hover {
  color: var(--accent-gold);
  transform: scale(1.1);
}
a:visited,
a:active {
  color: var(--accent-gold);
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  color: var(--accent-gold);
  font-weight: 100;
  font-size: 5rem;
  margin: 4rem 0;
}

body {
  background-color: var(--neutral-950);
}
.page {
  padding: 10rem 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}
svg {
  width: 4rem;
  height: 4rem;
  color: var(--accent-gold);
  transition: color 0.3s ease, transform 0.3s ease;
}
svg:hover {
  transform: scale(1.1);
}
